<merch-cards-compare resizing="fill">
  <!-- Card 1 -->
  <merch-card-compare>
    <merch-badge slot="badge">Badge</merch-badge>

    <merch-mnemonic slot="mnemonics" name="photoshop" size="l"></merch-mnemonic>
    <merch-mnemonic slot="mnemonics" name="illustrator" size="l"></merch-mnemonic>

    <h3 slot="heading-xs">Heading XS</h3>
    <p slot="body-xxs">Starting at</p>

    <inline-price slot="price" old-value="89.99" value="59.99" currency="US$" period="mo"></inline-price>

    <inline-price slot="annual-price" variant="annual" value="1,055.88" currency="(A$" period="yr)"></inline-price>

    <span slot="legal-disclaimer">Annual, paid monthly</span>

    <div slot="promo-text">
      Save over 30% with an annual plan. <a href="#">See terms.</a>
    </div>

    <div slot="body-xs">
      The ultimate toolkit for unlimited creativity. 7-day free trial of full version available.
    </div>

    <merch-callout slot="callout" name="sp-icon-info">
      AI Assistant add-on available
    </merch-callout>

    <checkout-button slot="footer" variant="secondary" size="m">Free trial</checkout-button>
    <checkout-button slot="footer" variant="accent" size="m" href="#">Save now</checkout-button>

    <merch-list slot="footer-list" name="sp-icon-checkmark" size="l" color="--spectrum-green-900">
      <p slot="label" class="body-xs bold">What you get:</p>
      <merch-list-item>Photoshop and 20+ apps including Illustrator, Adobe Premiere Pro, Acrobat Pro, and <a
          href="#">more</a></merch-list-item>
      <merch-list-item>Adobe Express Premium plan</merch-list-item>
      <merch-list-item>Tutorials, fonts, templates, and more</merch-list-item>
      <merch-list-item>100GB of cloud storage</merch-list-item>
      <merch-list-item>1,000 monthly <a href="#">generative credits</a></merch-list-item>
      <merch-list-item>Photoshop and 20+ apps including Illustrator, Adobe Premiere Pro, Acrobat Pro, and <a
          href="#">more</a></merch-list-item>
      <merch-list-item>1,000 monthly <a href="#">generative credits</a></merch-list-item>
      <merch-list-item>1,000 monthly <a href="#">generative credits</a></merch-list-item>
    </merch-list>
  </merch-card-compare>

  <!-- Card 2 -->
  <merch-card-compare>
    <merch-badge slot="badge">Badge</merch-badge>

    <merch-mnemonic slot="mnemonics" name="premiere-pro" size="l"></merch-mnemonic>
    <merch-mnemonic slot="mnemonics" name="after-effects" size="l"></merch-mnemonic>

    <h3 slot="heading-xs">Heading XS</h3>
    <p slot="body-xxs">Starting at</p>

    <inline-price slot="price" old-value="89.99" value="59.99" currency="US$" period="mo"></inline-price>

    <div slot="promo-text">
      Save over 30% with an annual plan. <a href="#">See terms.</a>
    </div>

    <div slot="body-xs">
      The ultimate toolkit for unlimited creativity. 7-day free trial of full version available.<br>
      <a href="#">Body XS/Regular</a> | <a href="#">See what's included</a>
    </div>

    <merch-callout slot="callout" name="sp-icon-info">
      AI Assistant add-on available
    </merch-callout>

    <checkout-button slot="footer" variant="secondary" size="m">Free trial</checkout-button>
    <checkout-button slot="footer" variant="accent" size="m" href="#">Save now</checkout-button>

    <merch-list slot="footer-list">
      <p slot="label" class="body-xs bold">What you get:</p>
      <merch-list-item>Photoshop and 20+ apps including Illustrator, Adobe Premiere Pro, Acrobat Pro, and <a
          href="#">more</a></merch-list-item>
      <merch-list-item>Adobe Express Premium plan</merch-list-item>
      <merch-list-item>Tutorials, fonts, templates, and more</merch-list-item>
      <merch-list-item>100GB of cloud storage</merch-list-item>
      <merch-list-item>1,000 monthly <a href="#">generative credits</a></merch-list-item>
      <merch-list-item>180-day version history for cloud files</merch-list-item>
      <merch-list-item>Team libraries for keeping shared assets up-to-date</merch-list-item>
      <merch-list-item>Licenses and assets that stay with the company</merch-list-item>
      <merch-list-item>24x7 technical support</merch-list-item>
      <merch-list-item>Merch feature <a href="#">link</a></merch-list-item>
      <merch-list-item>Merch feature <a href="#">link</a></merch-list-item>
      <merch-list-item>Merch feature <a href="#">link</a></merch-list-item>
    </merch-list>
  </merch-card-compare>
</merch-cards-compare>