<merch-card variant="plans" secure-label="Secure transaction">
    <merch-icon slot="icons"
        src="https://www.adobe.com/content/dam/shared/images/product-icons/svg/lightroom.svg"
        loading="lazy" size="l" alt="Lightroom" href="https://www.adobe.com/products/catalog.html">

    </merch-icon>
    <merch-icon slot="icons"
        src="https://www.adobe.com/content/dam/shared/images/product-icons/svg/photoshop.svg"
        loading="lazy" size="l" alt="Illustrator" href="https://www.adobe.com">

    </merch-icon>
    <h3 slot="heading-xs">Photography (1TB)</h3>
    <p slot="heading-m">
        <span is="inline-price" data-promotion-code="FY25PLES256MROW" data-template="price"
            data-wcs-osi="MzCpF9nUi8rEzyW-9slEUwtRenS69PRW5fp84a93uK4">
            
        </span>
        <span is="inline-price" data-promotion-code="FY25PLES256MROW" data-template="legal"
            data-wcs-osi="MzCpF9nUi8rEzyW-9slEUwtRenS69PRW5fp84a93uK4">
        </span>
    </p>
    <div slot="body-xs">
        <p>Edit and organize photos. Save&nbsp;25% for the first 6 months.&nbsp;Ends Feb 26.&nbsp;<a
                href="https://www.adobe.com/offer-terms/ccpp-1tb-terms.html" target="_blank">See
            terms.</a>
        <br>
            <a href="https://www.adobe.com/creativecloud/photography/compare-plans.html">Compare
            photography plans</a>
        <br>
            <a class="modal-Link"
                href="https://www.adobe.com/plans-fragments/modals/individual/modals-content-rich/photography1tb/master.html"
                target="_blank">See all plans &amp; pricing details</a>
        </p>
    </div>
    <merch-addon slot="addon" plan-type="ABM">Add a 30-day free trial of Adobe Stock.*</merch-addon>
    <div slot="footer">
        <a is="checkout-link" data-checkout-workflow-step="segmentation" data-modal="crm"
            data-quantity="1" data-wcs-osi="MzCpF9nUi8rEzyW-9slEUwtRenS69PRW5fp84a93uK4"
            data-analytics-id="select" class="con-button blue"
            href="#">
            <span style="pointer-events: none;">Select</span>
        </a>
    </div>
</merch-card>